body{
    font-family: 'Pangolin', cursive;
}
.carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 500px;
}
h5{
    font-size: 77px;
}
.card-img-top{
    width: fit-content;
    height: 150px;
}
.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
}
.img1{
    width: auto;
}
.card{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}
.slidedeck{
    font-size: 37px;
}
.footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    height: 45px;
    width: auto;
   
}
.copyright{
    font-size: xx-large;
}
.loginbtn{
    border-color: blanchedalmond;
    color: blanchedalmond;
}
.loginbtn:hover{
    color: black;
    background-color: blanchedalmond;
}
@media only screen and (max-width: 485px){
    .card {
      width: 300px !important;
    }
    .carousel-item img{
        height: 300px;
    }
    .carousel-item{
        height: 300px;
    } 
  }
  
