.pop1{
    background-color: blue;
    position: relative;
    height: 500px;
}
.btn1{
    position: relative;
    margin-top: 60px !important;
}
.pop2{
    background-color: blue;
    position: relative;
    height: 500px;
}
.btn2{
    position: relative;
    margin-top: 60px !important;
    margin-left: 20px;
    margin-right: 10px;
    padding: 30px;
}
